body{

	background-color: teal;
	/*background: url("image.jpg") no-repeat center center fixed;
	background-size: cover;*/
}

.items{
	background-color: rgba(38, 12, 12, 0.62);
	max-width: 180px;
	color: white;
	padding: 10px;

}

.row{

	border: 1px solid black;
	margin: 5px;
}